<% wrap_layout :layout do %>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                
                  
                    <%= current_article.body %>
                  </div>
                  
            </div>
            <div class = "pager">
    <a class="zocial twitter icon" href="https://twitter.com/share?url=<%= data.site.siteurl %><%=  current_page.url.chomp('.html')%>&amp;text=<%= current_page.data.title %> - <%= current_page.data.subtitle %>&amp;hashtags=#lunestaconfessions" target="_blank">Twitter</a>
    <!-- Reddit -->
    <a class="zocial reddit icon" href="http://reddit.com/submit?url=<%= data.site.siteurl %><%=  current_page.url.chomp('.html')%>&amp;title=<%= current_page.data.title %>" target="_blank">Reddit
    </a>
    <!-- Facebook -->
    <a class="zocial facebook icon" href="http://www.facebook.com/sharer.php?u=<%= data.site.siteurl %><%=  current_page.url.chomp('.html')%>" target="_blank">Facebook
    </a>
    <!-- Email -->
    <a class="zocial email icon" href="mailto:?Subject=<%= current_page.data.title %>&amp;Body=I saw this and thought of you!  <%= data.site.siteurl %><%=  current_page.url.chomp('.html')%>">
        Email
    </a>
	</div>
    </article>

    <hr>
    <ul class="pager">
                     <% prev_article = current_article.previous_article %>
                         <% if prev_article %>
                           <li class="previous">
                              <a href="<%= prev_article.url %>" rel="prev" title="Previous article: <%= prev_article.title %>"><< <%= prev_article.title %> </a>
                           </li>
                        <% end %>
                     <% next_article = current_article.next_article %>
                        <% if next_article %>
                           <li class="next">
                           <a  href="<%= next_article.url %>" rel="next" title="Next article: <%= next_article.title %>"> <%= next_article.title %> >></a>
                           </li>
                        <% end %>
    </ul>
<% end %>
