    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <% if  current_page.data.header_cover %>
      <header class="intro-header" style="background-image: url('/img/posts/<%= current_page.data.header_cover %>')">
    <% else %>
      <header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
      <% end %>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1><% if current_page.data.title.nil? %><%= data.site.sitename %><% else %><%= current_page.data.title %><% end %></h1>
                        <hr class="small">
                        <span class="subheading"><% if current_page.data.subtitle.nil? %><%= data.site.subtitle %><% else %><%= current_page.data.subtitle %><% end %></span>
                        <% unless current_page.data.date.nil? %><span class="post-meta ">Posted by <%= data.site.author %> on <%= pretty(current_page.data.date) %></span>
<% end %>

                    </div>
                </div>
            </div>
        </div>
    </header>